.sorting {
	cursor: pointer;
	background: url("./sort_both.png") no-repeat center right;
}

.sorting_asc {
	cursor: pointer;
	background: url("./sort_asc.png") no-repeat center right;
}

.sorting_desc {
	cursor: pointer;
	background: url("./sort_desc.png") no-repeat center right;
}